
/*-----------------------------------------------------------------------------------------------------------
Theme Name:		 Kosova
Description:     General Layout
Author:          Shemsedin Callaki
Url:             www.oxwebs.com	
Created     :    August 2010
-----------------------------------------------------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
}

html, body{
 height:100%;
}

html{
  font-size: 100%;
}

body{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 0.8em;
  font-style: normal;
  color: #000;
  background: #fff url(images/main-bg.gif) repeat-x left 200px;
  min-height:100%;
  height:auto !important; 
  height:100%; 
  position: relative;
}



a{
  color: #2d83d5;
  text-decoration: underline;
}

a:hover{
  color: #fff;
  background: #2d83d5;
  text-decoration: none;
}

img{
  border: 0;
}

p{
  line-height: 140%;
  margin: .4em 0 1em;
}

form p{
  margin: 0;
}

input{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 100%;
  margin: .2em 0;
  background: transparent url(images/input-bg.png) no-repeat left top;
}

input{
  padding: .2em .4em;
}

input.checkbox{
  background: none;
  padding: 2px;
}


small{ font-size: 86%; }



ul, UNUSEDol{
  margin: .4em 0 1em;
  line-height: 150%;
}


ul li, li{
 list-style-position:outside;
 margin-left: 2em;
}




h1{
  font-size: 250%;
  margin: .5em 0 .2em;
  font-weight: bold;
  letter-spacing:-0.06em;
}

h2{
  font-family: "Palatino Linotype", Georgia, "Tahoma", "Century Schoolbook L", Arial, Helvetica;
  font-size: 160%;
  font-weight: bold;
  margin: .5em 0 .2em;
  letter-spacing: -0.04em;
}

h3{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 150%;
  font-weight: bold;
  margin: .5em 0 .2em;
  letter-spacing:-0.06em;
}
h4{font-family: "Arial Narrow", Arial, Helvetica, Geneva;font-size:140%;font-weight:bold;margin: .5em 0 .2em;
}

h5{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 115%;
  font-weight: normal;
  margin: .5em 0 .2em;
  text-transform: uppercase;
  font-style: italic;
}
h6{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 110%;
  font-weight: bold;
  margin: .4em 0 .2em;
}





#page-wrap1{ background:#1e1e2c; }
#page-wrap2{
	background:#1e1e2c;
 
  height: 200px;
  width: 100%;
  display:block;
}


#page{
  width: 960px;
  min-width: 780px;
  max-width: 1200px; 
  margin:0 auto;
}


#main-wrap {
  position:relative;		
  clear:both;
  float:left;
  width:100%;
}

#mid-wrap, #side-wrap {
  float:left;
  width:100%;
  position:relative;
}

#mid, #sidebar {
  float:left;
  position:relative;
  padding:0;
  overflow: visible;
}







#page #main-wrap #mid-wrap { right:100%; }
#page #main-wrap #side-wrap { right:0; }

#page #main-wrap #mid {
  width:100%;			
  left:100%;			
}




#page.with-sidebar #main-wrap #mid-wrap { right:0%;    }
#page.with-sidebar #main-wrap #side-wrap { right:66%;  }

#page.with-sidebar #main-wrap #mid {
  width:66%;			
  left:66%;				
}

#page.with-sidebar #main-wrap #sidebar {
  width:34%;			
  left:66%;
}




#main-wrap #mid-wrap { right:25%; }
#main-wrap #side-wrap { right:25%; }

#main-wrap #mid {
  width:50%;			
  left:50%;
}

#main-wrap #sidebar {
  width:30%;			
  left:50%;
}
#main-wrap #sidebar2 {
  width:20%;            
  left:50%;

}


#mid-content{
  margin: 40px 0 10px;
}

#sidebar-wrap1{
  background: transparent url(images/side-start.png) no-repeat left top;
  padding-left: 28px;
  margin-top: 36px;
  height: 100%;
}

#sidebar-wrap2{
  background: transparent url(images/side-bg.png) no-repeat right top;
  padding-right: 30px;
  padding-top: 40px;
  height: 100%;
  min-height: 400px;
}



div.clearcontent{
  clear: left;
}






a#logo{
  top: 80px;
  position: absolute;
}

a#logo:hover{
  background: none;
}

#header{
  height: 200px;
  z-index: 2; 
  position:relative;
}

header h1{
  font-family: "Trajan Pro", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-weight: bold;
  position: absolute;
  color: #fff;
  top: 85px;
  font-size: 3.4em;
  letter-spacing:-0.06em;
  margin: 0;
  padding: 0;
}
header h1 a{
  color: #fff;
  text-decoration: none;
}

#header h1 a:hover{
  background: none;
  color: #2d83d5;
}

#topnav a:hover{
  text-decoration: none;
  background: none;
  color: #fff;
}



#tabs{
  font-size:14px;
  width: 100%;
  line-height:normal;
  position: absolute;
 /* bottom: 0;*/ bottom:0;
  left: 0;
  z-index: 0;
}

#tabs ul{
  list-style:none;
}

#tabs li{
  display:inline;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}

#tabs a {
  float:left;
  background:url(images/tab-left.png) no-repeat left top;
  color:#0470a0;
  padding-left:9px;
  margin-right:3px;
  text-decoration:none;
  color:#cfcfcf;
  cursor: pointer; 
}

#tabs a span{
  float:left;
  display:block;
  background:url(images/tab-right.png) no-repeat right top;
  height: 29px;
  padding-right: 10px;
}

#tabs a span span{
  display:block;
  background:none;
  height: auto;
  padding: 4px 4px 0 4px;
}


#tabs a span {float:none;}

#tabs a:hover span {
  color:#cfcfcf;
}

#tabs a:hover, #tabs li:hover a{
  background-position:0% -29px;
  color:#fff;
}
#tabs a:hover span, #tabs li:hover a span{
  background-position:100% -29px;
  color:#fff;
}

#tabs a.active, #tabs a.active:hover,
 #tabs li.current_page_item a:hover,
 #tabs li.current_page_ancestor a:hover,
 #tabs li.current-cat a:hover,
 #tabs li.current-cat-parent a:hover{
  background-position:0% -58px;
}

#tabs a.active span, #tabs a.active:hover span,
#tabs li.current_page_item a:hover span,
 #tabs li.current_page_ancestor a:hover span,
#tabs li.current-cat a:hover span,
 #tabs li.current-cat-parent a:hover span{
  background-position:100% -58px;
  color:#000;
}


#tabs li:hover ul a span{ color: #000; }

#tabs ul ul a:hover, #tabs ul ul a:hover,
#tabs ul a.active ul a:hover,
#tabs ul li.current_page_item ul a:hover,
#tabs ul li.current_page_ancestor ul a:hover,
#tabs ul li.current-cat ul a:hover,
#tabs ul li.current-cat-parent ul a:hover{
  background:#09c6eb url(images/tab-subnav-active.gif) repeat-x left top;
}


#tabs ul ul a:hover, #tabs ul ul a:hover span,
#tabs ul a.active ul a:hover span,
#tabs ul li.current_page_item ul a:hover span,
#tabs ul li.current_page_ancestor ul a:hover span,
#tabs ul ul li.current_page_parent a:hover span,
#tabs ul ul li.current_page_item a:hover span,
#tabs ul ul li.current_page_parent li.current_page_item a:hover span,
#tabs ul ul li.current-cat a:hover span,
#tabs ul ul li.current-cat-parent li.current_page_item a:hover span{
  color:#fff;
}

#tabs ul li ul a span, #tabs ul li ul a span{
  background: none;
}

#tabs ul ul ul{
  top:auto;
}

#tabs ul li ul ul {
  left:195px;
  top: 4px;
}

#tabs ul li:hover ul ul, #tabs ul li:hover ul ul ul, #tabs ul li:hover ul ul ul ul{
  display:none;
}
#tabs ul li:hover ul, #tabs ul li li:hover ul, #tabs ul li li li:hover ul, #tabs ul li li li li:hover ul{
  display:block;
}


#tabs ul li:hover { z-index: 100; }
#tabs ul * li:hover { visibility: inherit; }




#mid ul.menu a span {float:none;}

#mid ul.menu a:hover span {
  color:#cfcfcf;
}

#mid ul.menu a:hover{
  background-position:0% -70px;
  color:#fff;
}
#mid ul.menu a:hover span{
  background-position:100% -70px;
  color:#fff;
}


.post h3.posttitle a:hover{
  background: none;
  color: #ed1f24;
}

.attachment p.postcontrols{
  float: left;
  display: block;
  padding-left: 19px;
  margin: 0;
  background:transparent url(images/post-icons.png) no-repeat 0 top;
}

a.comments:hover, .post p.postcontrols a.comments:hover{
  background: #ed1f24;
  color: #fff;
}

a.no.comments:hover, .post p.postcontrols a.no.comments:hover{
  background: #2d83d5;
  color: #fff;
}

span.rate a.karma:hover{
  background: none;
}

span.button a:hover{ background-position: right bottom; }
span.button a:hover span{ background-position: left bottom; }
#sidebar h2.title{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 130%;
}

#sidebar ul{
  margin: 0;
  padding: 0;
}

#sidebar ul li{
  list-style-type: none;
  line-height: 140%;
  margin: 0;
  padding: 0;
  display: block;
  list-style-position: outside; 
}



#sidebar ul.nav{
  margin: 1em 0 2em;
  padding: 0;
}

#sidebar ul.nav li{
  list-style-type: none;
  background: transparent url(images/div-h.gif) repeat-x left bottom;
  padding: 2px 0 3px 0;
  margin: 0;
  position: relative;
}


#sidebar ul.nav li.last{
  background: none
}


#sidebar ul.nav li a{
  background: none;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  padding: 3px 27px 3px 8px;
  color: #000;
  cursor: pointer;
}

#sidebar ul.nav li a:hover{
  background: #efefee url(images/side-nav-bg.png) repeat-y right top;
  color: #ed2124;
}

#sidebar ul.nav li a span{
  
  padding-left: 17px;
  display: block;
}

#sidebar ul.nav li a:hover span{
  background-position: left -97px;
  color: #ed2124;
}

#sidebar ul.nav li li a:hover{
  background: none
}

#sidebar ul.nav li a.rss:hover{
  background-position: 0px -13px;
}




/*start log in block*/


#sidebar .block{
  margin: 16px 0 2px;
}

#sidebar .block-user h2.title{
  background: transparent url(images/side-box-top.png) no-repeat left bottom;
  padding: 4px 0 4px 20px;
  color: #8d8b8b;
  margin: 20px 0 0 0;

}
/*login part
*/
#block-user-0{margin-top:160px !important;}

#sidebar .block #user-login-form{
  background: transparent url(images/side-box-bg.png) repeat-y left bottom;
  padding: 10px 20px;
  display: block;
}

 .block{ background: none; }
#sidebar .block{ line-height: 150%; }

#user-login-form .input{text-align:left;
	margin-left:0px !important;}

.item-list{
text-align:left;
}


.item-list ul li{
  list-style-type: none;
  line-height: 140%;
  margin: 0;
  padding: 0;
  display: block;
  list-style-position: outside; 
}
.item-list ul{
  margin: 1em 0 2em;
  padding: 0;
}

.item-list ul li{
	background: none !important;
  border:none !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.item-list ul li a{
  display: block;
  text-decoration: none;
  text-transform: none !important;
  font-size: 110%;
  padding: 0 !important;
  color: #000;
  cursor: pointer;
}

.item-list ul li a:hover{
  background:none !important;
  text-decoration:underline !important;

}





.form-item{
text-align:left;}
.form-text{margin:0px;
padding:0px;

}

/* /log in block*/



#sidebar .box, UNUSED#sidebar2 .box{
  margin: 16px 0 2px;
}

#sidebar .box h2.title, UNUSED#sidebar2 .box h2.title{
  background: transparent url(images/side-box-top.png) no-repeat left bottom;
  padding: 4px 0 4px 20px;
  color: #8d8b8b;
  margin: 20px 0 0 0;
}

#sidebar .box ul, UNUSED#sidebar2 .box ul{
  background: transparent url(images/side-box-bg.png) repeat-y left bottom;
  padding: 10px 20px;
  display: block;
}

 .box ul ul{ background: none; }
#sidebar .box ul li, UNUSED#sidebar2 .box ul li{ line-height: 150%; }



#searchtab input.searchfield:focus, #searchtab input#s:focus{ color: #000; }


#searchtab input.searchbutton:hover{ color: #fff; }


.footer{
  background: transparent url(images/div-h2.gif) repeat-x left top;
  padding: 1em 0;
  margin-top: 1em;
  width: 100%;
  text-align: center;

}

.footer a{
border-bottom: 1px dotted #ba0000;
color: #F09;
text-decoration: none;
 
}


.footer a:hover {
 color: #F09;
  background: #FFF;
  text-decoration: none;
  
  border-bottom:none;
	
}


#layoutcontrol{
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  width: 74px;
  height: 16px;
  z-index: 1000;
}

#layoutcontrol a{
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background: transparent url(images/pagecontrols.png) no-repeat left top;
}

#layoutcontrol a.setLiquid{ background-position: -50px top; }
#layoutcontrol a.setFont{ background-position: left top; width: 25px; }

#layoutcontrol a.setLiquid:hover{ background-position: right top; }
#layoutcontrol a.setFont:hover{ background-position: -25px top; }
#layoutcontrol a span{ display: none; }


.post .vote span.votenumber a:hover{
  background: none;
  text-decoration: underline;
}